<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <wd-form-item>
    <wd-input-group
    name="currentPassword"
    type="password"
    isPrivate="true"
    label="Current password"
    [parentForm]="changePasswordForm"
    placeholder="Current password">
    </wd-input-group>
    <wd-form-explain *ngIf="
    changePasswordForm.controls['currentPassword'].errors &&
    changePasswordForm.controls['currentPassword'].dirty &&
    changePasswordForm.controls['currentPassword'].touched"
    controlName="currentPassword"
    [formName]="changePasswordForm"></wd-form-explain>
  </wd-form-item>

  <wd-form-item>
    <wd-input-group
    name="newPassword"
    type="password"
    isPrivate="true"
    label="New password"
    [parentForm]="changePasswordForm"
    placeholder="New password">
    </wd-input-group>
    <wd-form-explain *ngIf="
    changePasswordForm.controls['newPassword'].errors &&
    changePasswordForm.controls['newPassword'].dirty &&
    changePasswordForm.controls['newPassword'].touched"
    controlName="newPassword"
    [formName]="changePasswordForm"></wd-form-explain>
  </wd-form-item>

  <wd-form-item>
    <wd-input-group
    name="confirmNewPassword"
    type="password"
    isPrivate="true"
    label="Repeat new password"
    [parentForm]="changePasswordForm"
    placeholder="Confirm password"></wd-input-group>
    <wd-form-explain *ngIf="
    changePasswordForm.controls['confirmNewPassword'].errors &&
    changePasswordForm.controls['confirmNewPassword'].dirty &&
    changePasswordForm.controls['confirmNewPassword'].touched"
    controlName="confirmNewPassword"
    [formName]="changePasswordForm"></wd-form-explain>
  </wd-form-item>

  <button
  nbButton
  [disabled]="changePasswordForm.invalid"
  [nbSpinner]="loading"
  status="primary"
  type="submit">Change password</button>
</form>