<form [formGroup]="homeSearch" (ngSubmit)="search()">
  <nb-card>
    <nb-card-body class="search-bar">
      <wd-input-group
      class="search-bar__search"
      name="search"
      type="search"
      autocomplete="off"
      [parentForm]="homeSearch"
      (focus)="toggleHits()"
      (blur)="toggleHits()"
      (keyup)="search(true)"
      placeholder="Search..."></wd-input-group>

      <ul class="search-bar__hits" *ngIf="hits.length > 0 && showResults">
        <li *ngFor="let hit of hits">
          <a class="search-bar__hit" routerLink="card/{{hit.objectID}}">
            <div class="search-bar__hit-picture">
              <img
              [attr.src]="hit.image ? hit.image : 'assets/image-placeholder-light.svg'"
              [attr.alt]="hit.title" />
            </div>

            <div class="search-bar__hit-info">
              <div class="search-bar__hit-title">{{ hit.title }} <span>in</span> {{ getCategoryTitle(hit.category) }}</div>
              <div class="search-bar__hit-text">{{ hit.shortDescription }}</div>
            </div>
          </a>
        </li>
      </ul>

      <wd-select
      placeholder="All"
      class="search-bar__category"
      name="category"
      [parentForm]="homeSearch"
      bindLabel="title"
      bindValue="id"
      label="In category"
      [items]="categories"></wd-select>

      <wd-select
      placeholder="Date"
      class="search-bar__sort"
      name="sort"
      [parentForm]="homeSearch"
      bindLabel="title"
      bindValue="value"
      label="Sort by"
      [items]="sortBy"></wd-select>

      <button
      nbButton
      [disabled]="homeSearch.invalid || !homeSearch.dirty"
      [nbSpinner]="loading"
      class="search-bar__submit"
      status="warning"
      type="submit">
        Search
      </button>
    </nb-card-body>
  </nb-card>
</form>