<form [formGroup]="homeSearch" (ngSubmit)="search()">
  <nb-card>
    <nb-card-body class="search-bar">
      <ais-instantsearch [config]="searchConfig">
        <ais-search-box (change)="searchChanged($event)"></ais-search-box>

        <ais-hits *ngIf="showResults">
          <ng-template let-hits="hits">
            <div *ngFor="let hit of hits">
              {{ hit | json }}
            </div>
          </ng-template>
        </ais-hits>
      </ais-instantsearch>

      <wd-input-group
      class="search-bar__search"
      name="search"
      type="search"
      [parentForm]="homeSearch"
      placeholder="Search..."></wd-input-group>

      <wd-select
      placeholder="All"
      class="search-bar__category"
      name="category"
      [parentForm]="homeSearch"
      bindLabel="title"
      bindValue="id"
      label="In category"
      [items]="categories"></wd-select>

      <button
      nbButton
      class="search-bar__submit"
      status="warning"
      type="submit">
        Search
      </button>
    </nb-card-body>
  </nb-card>
</form>