@import '../../../../../styles/variables/variables';

.search-bar {
  display: grid;
  overflow: visible;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
  'search'
  'category'
  'sort'
  'submit';

  @media (min-width: $mq-phone-landscape) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'search search'
    'category sort'
    'submit submit';
  }

  @media (min-width: $mq-tablet) {
    grid-template-columns: 2fr 1fr 1fr 0.5fr;
    grid-template-areas: 'search category sort submit';
  }

  @media (min-width: $mq-desktop) {
    grid-template-columns: 3fr 1fr 1fr 0.5fr;
  }
}

.search-bar__search {
  grid-area: search;
}

.search-bar__type {
  grid-area: type;
}

.search-bar__category {
  grid-area: category;
}

.search-bar__sort {
  grid-area: sort;

  ::ng-deep {
    .ng-pristine {
      .ng-value {
        opacity: .6;
        font-weight: 400;
      }
    }
  }
}

.search-bar__submit {
  grid-area: submit;

  @media (min-width: $mq-tablet) {
    margin-top: 1.5rem;
  }
}

.search-bar__hits {
  position: absolute;
  top: calc(100% - 20px);
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-height: 240px;
  overflow: auto;
  min-height: 50px;
  border: 1px solid #edf1f7;
  background-color: #fff;
  border-radius: .25rem;
  grid-column: 1 / 2;
  width: 100%;
  box-shadow: 0 .5rem 1rem 0 rgba(44, 51, 73, 0.15);
  z-index: 10;
}

.search-bar__hit {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-family: 'Lato';
  cursor: pointer;
  text-decoration: none;
  color: $c-font-dark;
  background-color: #fff;
  transition-duration: .15s;
  transition-property: background-color;
  transition-timing-function: ease-in;

  &:hover {
    background-color: #f8f9fc;
    color: $c-font-dark;
  }
}

.search-bar__hit-title {
  font-weight: 600;

  span {
    font-weight: 400;
  }
}

.search-bar__hit-text {
  font-size: 14px;
}

.search-bar__hit-picture {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #edf1f7;
  margin-right: 20px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}