@import '../../../../styles/variables/variables';

.logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  font-family: $ff-comfortaa;
  font-weight: $fw-bold;
  z-index: 4;
  color: #222b45;

  &:hover {
    text-decoration: none;
    color: #222b45;
  }
}