<wd-auth-form heading="Resend verification email" *ngIf="user$ | async; let user">
  <wd-form-item class="text-center">
    <ng-container *ngIf="!resended">
      <p>{{user?.createdAt.toDate() | date:'MMMM dd, yyyy \'at\' HH:mm'}}, we have sent a confirmation email to <strong>{{user.email}}</strong>.</p>

      <p>Please check your email and follow the instructions to verify your account. If you did not receive an email or if it expired, you can resend  one.</p>
    </ng-container>

    <ng-container *ngIf="resended">
      <p>We have sent you a new verification email to <strong>v.humeniuk@outlook.com</strong>.</p>
      <p>Please check both your inbox and spam folder.</p>
    </ng-container>
  </wd-form-item>

  <wd-form-item class="text-center" *ngIf="!resended">
    <button
    nbButton
    hero
    fullWidth
    size="large"
    [nbSpinner]="loading"
    (click)="resendEmail()">
      Resend verification email
    </button>
  </wd-form-item>

  <p class="text-center">Return to <a routerLink="/" class="text-decoration-none">Home Page</a></p>
</wd-auth-form>