<wd-auth-form heading="Email verified">
  <div
  class="email-verified__spinner"
  [nbSpinner]="!emailVerified && !tokenExpired"
  nbSpinnerStatus="info"
  nbSpinnerSize="tiny"
  nbSpinnerMessage="Verifying your email address ...">
  </div>

  <wd-form-item class="text-center">
    <ng-container *ngIf="emailVerified">
      <p>
        Email address <strong>{{email}}</strong> successfully verified.
      </p>
      <p>
        Now you can use all the features of our site.
      </p>
    </ng-container>

    <ng-container *ngIf="tokenExpired">
      <p>The action token is invalid.</p>
      <p>This can happen if the token is malformed, expired, or has already been used.</p>
    </ng-container>
  </wd-form-item>

  <p class="text-center">Go to <a [routerLink]="'/'" class="text-decoration-none">home page</a></p>
</wd-auth-form>