<wd-auth-form heading="Verify your account" *ngIf="user$ | async; let user">
  <wd-form-item class="text-center">
    <ng-container *ngIf="!resended">
      <p>We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>

      <p>Please check your email and follow the instructions to verify your account. If you did not receive an email or if it expired, you can resend  one.</p>
    </ng-container>

    <ng-container *ngIf="resended">
      <p>We have sent you a new verification email to <strong>{{user.email}}</strong>.</p>
      <p>If it doesn’t appear within a few minutes, check both your inbox and spam folder.</p>
    </ng-container>
  </wd-form-item>

  <wd-form-item class="text-center">
    <button nbButton fullWidth status="primary" hero (click)="resendEmail()" [disabled]="holdTimer">
      {{holdTimer ? 'Re-send verification email after:' : 'Re-send verification email'}}
      <br *ngIf="holdTimer"/>
      <countdown *ngIf="holdTimer" [config]="{leftTime: 5, demand: !holdTimer, template: '$!m!:$!s!'}" (event)="handleTimerEvent($event)"></countdown>
    </button>
  </wd-form-item>
</wd-auth-form>