@import '../../../../styles/variables/variables';

.dropzone {
  padding: 15px 5px;
  width: 100%;
  height: 100%;
  position: relative;
  border: 2px dashed $c-gray-200;
  border-radius: 9px;
  overflow: hidden;

  &--invalid {
    border-color: rgba($c-error, .25)
  }

  &--valid {
    border-color: transparent;
  }
}

.dropzone__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &:hover {
    .dropzone__subtitle {
      opacity: .7;
    }

    .dropzone__icon {
      &::before,
      &::after {
        animation-duration: 1.75s;
        animation-iteration-count: infinite;
      }

      &::before {
        animation-name: circlePulseSmall;
      }

      &::after {
        animation-name: circlePulseLarge;
      }
    }
  }
}

.dropzone__input {
  display: none;
}

.dropzone__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdd92b;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  z-index: 1;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: inherit;
    z-index: 0;
  }

  nb-icon {
    position: relative;
    font-size: 1.7rem;
    z-index: 2;
  }
}

@keyframes circlePulseSmall {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    transform: scale(1.18);
    opacity: .5;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes circlePulseLarge {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    transform: scale(1.35);
    opacity: .25;
  }

  100% {
    transform: scale(1.35);
    opacity: 0;
  }
}

.dropzone__title {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: .25rem;

  &--invalid {
    color: $c-error;
  }
}

.dropzone__subtitle {
  font-size: .8rem;
  letter-spacing: .03rem;
  transition: opacity 2s cubic-bezier(.175, .885, .32, 1.275);
  opacity: .45;
}

.dropzone__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.dropzone__error {
  display: block;
  font-size: 13px;
  color: $c-error;
  text-align: center;
  white-space: pre-wrap;
  margin: 4px 4px 0;

  &:empty {
    display: none;
  }
}