@import '../../../../styles/variables/variables';

.select__header {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.select__label {
  display: block;
  margin: 0;
  font-weight: 700;
  line-height: 1rem;
  font-size: .75rem;
  color: $c-gray-600;
}

.select {
  ::ng-deep {
    .ng-select {
      border-radius: .25rem;

      &:hover {
        .ng-select-container {
          border-color: #598bff;
        }

        .ng-dropdown-panel {
          border-top-color: #598bff;
        }
      }
    }

    .ng-valid.ng-touched {
      &:not(.ng-pristine) {


      }
    }

    .ng-touched {
      &:not(.ng-pristine) {
        &.ng-valid {
          &:hover {
            .ng-select-container {
              border-color: #00997a;
            }
          }

          .ng-select-container {
            border-color: $c-success;
          }
        }

        &.ng-invalid {
          &:hover {
            .ng-select-container {
              border-color: #b81d5b;
            }
          }

          .ng-select-container  {
            border-color: $c-error;
          }
        }
      }
    }

    .ng-select-container {
      height: 100%;
      border: 1px solid $c-gray-200;
      background-color: #f7f9fc;
      padding: 0;
      transition-duration: .15s;
      transition-property: border, background-color, color, box-shadow;
      transition-timing-function: ease-in;
      line-height: 1.5rem;
      font-size: .9375rem;
      border-radius: .25rem;
      cursor: pointer;

      input {
        cursor: text !important;
      }
    }

    .ng-value,
    .ng-placeholder {
      position: relative;
      left: 10px;
    }

    .ng-value {
      font-weight: 600;
      color: $c-font-dark;
    }

    .ng-placeholder {
      color: $c-gray-600 !important;
    }

    .ng-dropdown-panel {
      border-color: transparent;
      transition-duration: .15s;
      transition-property: border, background-color, color, box-shadow;
      transition-timing-function: ease-in;
      box-shadow: 0 .5rem 1rem 0 rgba(44, 51, 73, .1);
    }

    .ng-value,
    .ng-input {
      height: 100%;
    }

    .ng-clear-wrapper {
      &:hover {
        .ng-clear {
          color: $c-error;
        }
      }
    }

    .ng-option {
      padding: .6875rem 1.125rem;
      font-size: .9375rem;
      transition-duration: .15s;
      transition-property: background-color, color;
      transition-timing-function: ease-in;

      &.ng-option-marked {
        background-color: transparent;
      }

      &:not(.ng-option-disabled):hover {
        background-color: transparent;
        color: #598bff;
      }
    }

    .ng-input {
      top: 0 !important;
      padding: .6875rem 1.125rem !important;

      input {
        color: $c-font-dark;
      }
    }

    .ng-select-focused {
      box-shadow: 0 0 0 .375rem #e4e9f2;
      outline: 0;

      .ng-dropdown-panel {
        border-top-color: #1a34b8;
      }

      .ng-select-container {
        border-color: #1a34b8;
      }
    }
  }
}

.select__input {
  height: 48px;
}