.admin-form__body {
  overflow: unset;
}

.admin-form__title {
  font-size: 1rem;
  margin-top: .2rem;
  margin-bottom: 1rem;
  line-height: 1;
}

.admin-form__image,
.admin-form__general,
.admin-form__checkboxes,
.admin-form__textareas {
  &:empty {
    display: none;
  }
}

.admin-form__general,
.admin-form__checkboxes {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.admin-form__controls {
  display: flex;
  justify-content: flex-end;

  button ~ button {
    margin-left: 10px;
  }
}