<wd-auth-form heading="Reset password">
  <ng-container *ngIf="!tokenExpired && !passwordUpdated">
    <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
      <wd-form-item>
        <wd-input-group
        name="password"
        type="password"
        isPrivate="true"
        label="New password"
        [parentForm]="changePasswordForm"
        placeholder="New password"></wd-input-group>
        <wd-form-explain *ngIf="
        changePasswordForm.controls['password'].errors &&
        changePasswordForm.controls['password'].dirty &&
        changePasswordForm.controls['password'].touched"
        controlName="password"
        [errorsCodes]="changePasswordForm.controls['password'].errors"
        ></wd-form-explain>
      </wd-form-item>

      <wd-form-item>
        <wd-input-group
        name="confirmPassword"
        type="password"
        isPrivate="true"
        label="Repeat new password"
        [parentForm]="changePasswordForm"
        placeholder="Confirm password"></wd-input-group>
        <wd-form-explain *ngIf="
        changePasswordForm.controls['confirmPassword'].errors &&
        changePasswordForm.controls['confirmPassword'].dirty &&
        changePasswordForm.controls['confirmPassword'].touched"
        controlName="confirmPassword"
        [errorsCodes]="changePasswordForm.controls['confirmPassword'].errors"
        ></wd-form-explain>
      </wd-form-item>

      <wd-form-item>
        <button
        nbButton
        hero
        fullWidth
        [disabled]="changePasswordForm.invalid"
        [nbSpinner]="loading"
        size="large"
        type="submit">
          Change Password
        </button>
      </wd-form-item>
    </form>

    <p class="text-center">Return to <a routerLink="/sign-in" class="text-decoration-none">Sign In</a></p>
  </ng-container>

  <wd-form-item class="text-center" *ngIf="passwordUpdated || tokenExpired">
    <ng-container *ngIf="passwordUpdated">
      <p>Account password has been successfully changed!</p>
      <p>Now you can login with you new password.</p>
    </ng-container>

    <ng-container *ngIf="tokenExpired">
      <p>The action token is invalid.</p>
      <p>This can happen if the token is malformed, expired, or has already been used.</p>
    </ng-container>

    <p class="text-center">Go to <a routerLink="/sign-in" class="text-decoration-none">Sign In</a></p>
  </wd-form-item>

</wd-auth-form>