<wd-auth-form [heading]="emailSent ? 'Password restore' : 'Forgot Password'">
  <ng-container *ngIf="!emailSent">
    <wd-form-item class="text-center">
      <p>Enter your email address that you used to register.</p>
      <p>We'll send you an email with a link to reset your password.</p>
    </wd-form-item>

    <form [formGroup]="requestPasswordForm" (ngSubmit)="requestPassword()">
      <wd-form-item>
        <wd-input-group
        name="email"
        type="email"
        label="Your email address"
        [parentForm]="requestPasswordForm"
        placeholder="Email"></wd-input-group>
        <wd-form-explain *ngIf="
        requestPasswordForm.controls['email'].errors &&
        requestPasswordForm.controls['email'].dirty &&
        requestPasswordForm.controls['email'].touched"
        controlName="email"
        [formName]="requestPasswordForm"></wd-form-explain>
      </wd-form-item>

      <wd-form-item>
        <button
        nbButton
        hero
        fullWidth
        [disabled]="requestPasswordForm.invalid"
        [nbSpinner]="loading"
        size="large"
        type="submit">
          Request Password
        </button>
      </wd-form-item>
    </form>

    <wd-login-methods></wd-login-methods>

    <p class="text-center">Don't have an account? <a routerLink="/sign-up" class="text-decoration-none">Register</a></p>
  </ng-container>

  <ng-container *ngIf="emailSent">
    <wd-form-item class="text-center">
      <p>An email has been sent to <strong>{{email}}</strong> with further instructions.</p>
      <p>If it doesn’t appear within a few minutes, check your spam folder.</p>
    </wd-form-item>

    <wd-form-item class="text-center">
      <button
      nbButton
      hero
      fullWidth
      [disabled]="holdTimer"
      size="large"
      (click)="resendEmail()">
        {{holdTimer ? 'Re-request password recovery after: ' : 'Re-request password recovery'}}
        <br *ngIf="holdTimer"/>
        <countdown *ngIf="holdTimer" [config]="{leftTime: 5, demand: !holdTimer, template: '$!h!:$!m!:$!s!'}" (finished)="holdTimer = !holdTimer"></countdown>
      </button>
    </wd-form-item>

    <p class="text-center">Return to <a routerLink="/sign-in" class="text-decoration-none">Sign In</a></p>
  </ng-container>

</wd-auth-form>