<wd-auth-form heading="Sign In">
  <form [formGroup]="signInForm" (ngSubmit)="signIn()">

    <wd-form-item>
      <wd-input-group
      name="email"
      type="email"
      [parentForm]="signInForm"
      placeholder="Email"></wd-input-group>
      <wd-form-explain *ngIf="
      signInForm.controls['email'].errors &&
      signInForm.controls['email'].dirty &&
      signInForm.controls['password'].touched"
      controlName="email"
      [errorsText]="explainMessages"
      [errorsCodes]="signInForm.controls['email'].errors"
      ></wd-form-explain>
    </wd-form-item>

    <wd-form-item>
      <wd-input-group
      name="password"
      type="password"
      [parentForm]="signInForm"
      helperTitle="Forgot Password?"
      helperLink="/reset-password"
      placeholder="Password"></wd-input-group>
      <wd-form-explain *ngIf="
      signInForm.controls['password'].errors &&
      signInForm.controls['password'].dirty &&
      signInForm.controls['password'].touched"
      controlName="password"
      [errorsText]="explainMessages"
      [errorsCodes]="signInForm.controls['password'].errors"
      ></wd-form-explain>
    </wd-form-item>

    <wd-form-item>
      <nb-checkbox
      name="rememberUser"
      formControlName="rememberUser">
        Remember me
      </nb-checkbox>
    </wd-form-item>

    <wd-form-item>
      <button
      nbButton
      hero
      fullWidth
      [disabled]="signInForm.invalid"
      [nbSpinner]="loading"
      size="large"
      type="submit">
        Sign In
      </button>
    </wd-form-item>
  </form>

  <wd-login-methods></wd-login-methods>

  <p class="text-center">Don't have an account? <a routerLink='/sign-up' class="text-decoration-none">Register</a></p>
</wd-auth-form>