<ng-container *ngIf="cardDetails">
  <header
  class="card-details__image-cover"
  [ngStyle]="{'background-image': cardDetails.image ? 'url(' + cardDetails.image + ')' : 'url(assets/image-placeholder-light.svg)'}">
  </header>

  <article class="card-details">
    <wd-content-container class="card-details__subheader">
      <div class="card-details__subheader-title">
        <h1 class="card-details__title">{{cardDetails.title}}</h1>
        <span class="card-details__category">{{cardDetails.category}}</span>
        <wd-rating
        class="card-details__rating"
        [value]="cardDetails.rating"
        [voters]="feedbacksCounter"></wd-rating>
      </div>

      <div class="card-details__subheader-controls">
        <wd-social-share></wd-social-share>

        <a
        routerLink="/my-company-card"
        *ngIf="cardDetails.cid === user.company"
        class="card-details__edit"
        nbButton>
          Edit information
        </a>
      </div>
    </wd-content-container>

    <wd-content-container class="card-details__main-info">
      <div class="card-details__information">
        <h2 class="card-details__heading">Company information</h2>
        <div [innerHTML]="cardDetails.wysiwyg"></div>
      </div>

      <div class="card-details__contacts">
        <h2 class="card-details__heading card-details__heading--light">Contact information</h2>
        <div class="card-details__address">
          <address
          *ngIf="cardDetails.address">
            {{cardDetails.address}}
          </address>

          <a [attr.href]="'tel:' + cardDetails.phone">{{cardDetails.phone}}</a>
          <a [attr.href]="'mailto:' + cardDetails.email">{{cardDetails.email}}</a>
        </div>

        <wd-location-map [address]="cardDetails.address"></wd-location-map>
      </div>
    </wd-content-container>

    <wd-content-container class="card-details__comments-wrapper">
      <wd-comments-section
      [business]="cardDetails.title"
      [cid]="cardDetails.cid">
      </wd-comments-section>
    </wd-content-container>
  </article>
</ng-container>