@import '../../../../../styles/variables/variables';

.card-details {
  margin: 0 -1.5rem 0 -1.5rem;
  color: $c-font-dark;

  @media (max-width: $mq-tablet - 1px) {
    margin: 0 -1rem 0 - 1rem;
  }

  @media (max-width: $mq-tablet-landscape - 1px) {
    margin: 0 -1.35rem 0 - 1.35rem;
  }
}

.card-details__rating {
  display: block;
  margin-top: 10px;
  margin-left: -2px;
}

.card-details__image-cover {
  height: 420px;
  background-size: cover;
  background-position: center center;
  margin: -1.5rem -1.5rem 0 -1.5rem;

  @media (max-width: $mq-tablet - 1px) {
    margin: -1rem -1rem 0 - 1rem;
  }

  @media (max-width: $mq-tablet-landscape - 1px) {
    margin: -1.35rem -1.35rem 0 - 1.35rem;
  }
}

.card-details__subheader,
.card-details__main-info {
  padding: 30px 30px;

  @media (min-width: $mq-tablet) {
    padding: 30px 60px;
  }

  @media (min-width: $mq-tablet-landscape) {
    padding: 30px 80px;
  }

  @media (min-width: $mq-desktop) {
    padding: 30px 100px;
  }
}

.card-details__main-info {
  padding-bottom: 40px;

  @media (min-width: $mq-tablet-landscape) {
    padding-bottom: 60px;
  }

  @media (min-width: $mq-desktop) {
    padding-bottom: 80px;
  }
}

.card-details__comments-wrapper {
  background-color: $c-gray-200;
  padding: 20px 30px 40px;

  @media (min-width: $mq-tablet) {
    padding: 30px 60px 60px;
    margin-bottom: calc(-1rem - 2px);
  }

  @media (min-width: $mq-tablet-landscape) {
    padding: 40px 80px 80px;
    margin-bottom: calc(-1.35rem - 2px);
  }

  @media (min-width: $mq-desktop) {
    padding: 50px 100px 100px;
    margin-bottom: calc(-1.5rem - 2px);
  }
}

.card-details__subheader {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  background-color: $c-yellow-700;

  @media (min-width: $mq-phone-landscape ) {
    flex-direction: row;
  }
}

.card-details__subheader-title {
  margin-bottom: 30px;

  @media (min-width: $mq-phone-landscape ) {
    margin-bottom: 0;
  }
}

.card-details__heading {
  font-weight: 600;
  font-size: 14px;
  margin: 0 0 10px;
  line-height: 1;
  color: #666E7C;

  &--light {
    color: $c-gray-400;
  }
}

.card-details__title,
.card-details__category {
  line-height: 1;
  margin: 0;
}

.card-details__title {
  font-size: 24px;
  margin-bottom: 5px;
  letter-spacing: .6px;
}

.card-details__category {
  font-size: 14px;
  color: $c-gray-700;
  letter-spacing: .5px;
  font-weight: 600;
}

.card-details__information {
  margin-bottom: 20px;

  @media (min-width: $mq-tablet-landscape) {
    margin-top: 20px;
  }
}

.card-details__contacts {
  height: fit-content;
  padding: 20px;
  border-radius: 14px;
  background-color: #1C2237;
  color: $c-yellow-700;
}

.card-details__address {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 1.5;

  address {
    font-style: normal;
    margin-bottom: 4px;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;

    &[href^="tel:"] {
      letter-spacing: .44px;
    }
  }
}

.card-details__main-info {
  display: grid;

  @media (min-width: $mq-tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

  @media (min-width: $mq-tablet-landscape) {
    grid-template-columns: 2fr 1.8645fr;
    column-gap: 100px;
  }
}
