<div class="data-table">
  <table class="data-table__table">
    <thead>
      <tr>
        <th *ngFor="let column of columns"> {{ column.title }} </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="!data" class="data-table__no-data">
        <td [attr.colspan]="columns.length">No data</td>
      </tr>

      <ng-container *ngIf="data">
        <tr *ngFor="let row of data">
          <td
          *ngFor="let col of columns"
          [attr.width]="col.options?.width">
            <span [className]="col.options?.code ? 'data-table--code' : ''">
              {{ col.options?.date ? (row[col.key] | date) : row[col.key] }}
            </span>
          </td>
          <td *ngIf="actions?.edit?.active">
            <div class="data-table__action">
              <nb-icon (click)="editEvent(row[id])" icon="edit-2-outline"></nb-icon>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>