<div class="data-table" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <table class="data-table__table">
    <thead>
      <tr>
        <ng-container *ngFor="let column of columns">
          <th [ngStyle]="{ 'minWidth.px': column.options?.minWidth, 'textAlign': column.options?.align }"> {{ column.title }} </th>
        </ng-container>

        <ng-container *ngIf="actions">
          <ng-container *ngFor="let action of actions | keys">
            <th *ngIf="actions[action]"></th>
          </ng-container>
        </ng-container>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="!data || !data.length" class="data-table__no-data">
        <td [attr.colspan]="columns?.length + (actions | keys)?.length">
          No data
        </td>
      </tr>

      <ng-container *ngIf="data && !loading">
        <tr *ngFor="let row of data | paginate: { id: paginationId, itemsPerPage: itemsPerPage, currentPage: p }">
          <td *ngFor="let col of columns" [ngStyle]="{'textAlign': col.options?.align }">
            <span *ngIf="row[col.key] && !col.options?.bool" [className]="col.options?.code ? 'data-table--code' : ''">
              {{ col.options?.date ? (row[col.key] | date) : row[col.key] }}
            </span>

            <nb-checkbox
            *ngIf="col.options?.bool"
            class="data-table__checkbox"
            status="basic"
            [checked]="row[col.key]"></nb-checkbox>
          </td>

          <td *ngIf="actions?.edit" class="data-table__action">
            <nb-icon (click)="goToEdit(row[id])" icon="edit-2-outline"></nb-icon>
          </td>

          <!-- Start: remove action -->
          <td *ngIf="actions?.remove" class="data-table__action">
            <nb-icon
            (click)="openRemovePrompt(row[id])"
            icon="trash-2-outline"></nb-icon>
          </td>
          <!-- End: remove action -->
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<wd-pagination [id]="paginationId" [position]="paginationPosition" *ngIf="pagination" (pageChange)="changePage($event)"></wd-pagination>