<div class="my-company-card my-company-card--company">
  <form class="my-company-card__form" [formGroup]="myCardForm" (ngSubmit)="publishCard()">
    <div class="my-company-card__info">
      <nb-card class="my-company-card__card">
        <nb-card-body class="my-company-card__form-group">
          <wd-form-item>
            <wd-input-group
            name="title"
            type="text"
            [parentForm]="myCardForm"
            placeholder="Company name"></wd-input-group>
            <wd-form-explain *ngIf="
            myCardForm.controls['title'].errors &&
            myCardForm.controls['title'].dirty &&
            myCardForm.controls['title'].touched"
            [formName]="myCardForm"
            controlName="title"></wd-form-explain>
          </wd-form-item>

          <wd-form-item isDouble="true">
            <div>
              <wd-file-dropzone
              class="my-company-card__dropzone"
              name="image"
              maxSize="250"
              (upload)="onUpload($event)"
              (removeImage)="onImageRemove($event)"
              [parentForm]="myCardForm"
              [valueSrc]="companyCard ? companyCard.image : null"
              [valueAlt]="companyCard ? companyCard.title : null"
              ></wd-file-dropzone>
            </div>

            <div>
              <wd-form-item>
                <wd-input-group
                name="url"
                type="text"
                [parentForm]="myCardForm"
                placeholder="Your website"></wd-input-group>
                <wd-form-explain *ngIf="
                myCardForm.controls['url'].errors &&
                myCardForm.controls['url'].dirty &&
                myCardForm.controls['url'].touched"
                [formName]="myCardForm"
                controlName="url"></wd-form-explain>
              </wd-form-item>

              <wd-select
              name="category"
              [parentForm]="myCardForm"
              placeholder="Show in category"
              [items]="categories"></wd-select>
              <wd-form-explain *ngIf="
              myCardForm.controls['category'].errors &&
              myCardForm.controls['category'].dirty &&
              myCardForm.controls['category'].touched"
              [formName]="myCardForm"
              controlName="category"></wd-form-explain>
            </div>
          </wd-form-item>

          <wd-form-item isDouble="true">
            <div>
              <wd-input-group
              name="phone"
              type="tel"
              [parentForm]="myCardForm"
              placeholder="Phone number"></wd-input-group>
              <wd-form-explain *ngIf="
              myCardForm.controls['phone'].errors &&
              myCardForm.controls['phone'].dirty &&
              myCardForm.controls['phone'].touched"
              [formName]="myCardForm"
              controlName="phone"></wd-form-explain>
            </div>

            <div>
              <wd-input-group
              name="email"
              type="email"
              [parentForm]="myCardForm"
              placeholder="Email address"></wd-input-group>
              <wd-form-explain *ngIf="
              myCardForm.controls['email'].errors &&
              myCardForm.controls['email'].dirty &&
              myCardForm.controls['email'].touched"
              [formName]="myCardForm"
              controlName="email"></wd-form-explain>
            </div>
          </wd-form-item>

          <wd-input-group
          name="address"
          type="textarea"
          [rows]="4"
          [parentForm]="myCardForm"
          placeholder="Company address"></wd-input-group>
          <wd-form-explain *ngIf="
          myCardForm.controls['address'].errors &&
          myCardForm.controls['address'].dirty &&
          myCardForm.controls['address'].touched"
          [isRelative]="true"
          [formName]="myCardForm"
          controlName="address"></wd-form-explain>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="my-company-card__description">
      <nb-card class="my-company-card__card">
        <nb-card-body class="my-company-card__form-group">
          <wd-wysiwyg
          class="my-company-card__text-editor"
          label="Company information"
          [parentForm]="myCardForm"
          maxLength="900"
          name="wysiwyg"></wd-wysiwyg>
          <wd-form-explain *ngIf="
          myCardForm.controls['wysiwyg'].errors &&
          myCardForm.controls['wysiwyg'].dirty &&
          myCardForm.controls['wysiwyg'].touched"
          [isRelative]="true"
          controlName="wysiwyg"
          [formName]="myCardForm"></wd-form-explain>
        </nb-card-body>
      </nb-card>
    </div>

    <wd-tip-off class="my-company-card__tip-off">Please note that we do not allow publishing information about stores, shops, any services that are illegal in Gibraltar and companies or services whose publication of information can have a negative impact on our site. By publishing this you agree to our&nbsp;<a routerLink="/rules">rules for posting company information and personal advertising</a>. </wd-tip-off>

    <div class="my-company-card__submit">
      <div class="my-company-card__submit-controls">
        <nb-checkbox formControlName="isShown">Publish my card</nb-checkbox>
        <button
        nbButton
        status="warning"
        [disabled]="myCardForm.invalid || !myCardForm.dirty"
        [nbSpinner]="loading"
        type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
