@import '../../../../styles/variables/variables';

.tip-off {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
  align-items: center;
  border-radius: $border-radius;
  background-color: $c-gray-200;
  padding: 1rem 1.75rem 1rem 1.25rem;
  color: $c-gray-600;
  font-size: 14px;

  ::ng-deep {
    a {
      color: inherit;
      font-weight: 700;
    }
  }
}

.tip-off__icon {
  font-size: 26px;
}