@import url('https://fonts.googleapis.com/css?family=Comfortaa:500,700|Lato&display=swap&subset=latin-ext');

// Family
$ff-comfortaa: 'Comfortaa', cursive;
$ff-lato: 'Lato', sans-serif;

// Weight
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;