@import '../../../../../styles/variables/variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.cards-grid {
  display: grid;
  grid-gap: 15px;

  @media (min-width: $mq-phone-landscape) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $mq-tablet-landscape) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $mq-large-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  ::ng-deep {
    nb-card {
      margin-bottom: 0;
      height: 100%;
    }
  }
}