<wd-auth-form heading="Password">
  <form [formGroup]="promptPasswordForm" (ngSubmit)="sendCredentials()">
    <wd-form-item>
      <wd-input-group
      name="password"
      type="password"
      isPrivate="true"
      label="Password"
      [parentForm]="promptPasswordForm"
      placeholder="Enter password"></wd-input-group>
      <wd-form-explain *ngIf="
      promptPasswordForm.controls['password'].errors &&
      promptPasswordForm.controls['password'].dirty &&
      promptPasswordForm.controls['password'].touched"
      controlName="password"
      [formName]="promptPasswordForm"></wd-form-explain>
    </wd-form-item>

    <wd-form-item>
      <button
      nbButton
      hero
      fullWidth
      [disabled]="promptPasswordForm.invalid"
      [nbSpinner]="loading"
      size="large"
      type="submit">
        Login
      </button>
    </wd-form-item>
  </form>

  <p class="text-center">Return to <a routerLink="/sign-in" class="text-decoration-none">Sign In</a></p>
</wd-auth-form>