@import 'themes';

@import '~@nebular/theme/styles/globals';

@import "~mapbox-gl/dist/mapbox-gl.css";

@include nb-install() {
  @include nb-theme-global();
};

// Helpers
@import './styles/variables/variables';
@import './styles/helpers/helpers';

// Browsers
@import './styles/browsers/browsers';

body {
  font-family: 'Open Sans', sans-serif;
}

.nb-theme-default {
  nb-card-body,
  nb-card-header {
    @media (max-width: $mq-tablet - 1px) {
      padding: 1.35rem 1.55rem;
    }

    @media (max-width: $mq-phone-landscape - 1px) {
      padding: 1rem 1.25rem;
    }
  }
}