@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import 'styles/variables/variables';

$nb-themes: nb-register-theme((

  card-border-radius: $card-border-radius,
  card-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.05),

  color-success-100: $c-green-100,
  color-success-200: $c-green-200,
  color-success-300: $c-green-300,
  color-success-400: $c-green-400,
  color-success-500: $c-green-500,
  color-success-600: $c-green-600,
  color-success-700: $c-green-700,
  color-success-800: $c-green-800,
  color-success-900: $c-green-900,

  footer-background-color: $c-neutral,
  footer-shadow: none,
  footer-divider-color: $c-gray-400,
  footer-text-highlight-color: $c-font-dark,

  layout-padding: 1.5rem,
  layout-medium-padding: 1.35rem,
  layout-small-padding: 1rem,
  layout-background-color: $c-neutral,

  header-background-color: $c-primary,
  header-shadow: none,
  header-padding: 1.5rem,

  input-rectangle-border-radius: 6px,
  button-rectangle-border-radius: 6px,

  button-filled-info-background-color: #fff,
  button-filled-info-border-color: #fff,
  button-filled-info-text-color: $c-font-dark,
  button-filled-info-hover-border-color: $c-gray-50,button-filled-info-hover-background-color: $c-gray-50,
  button-filled-info-focus-border-color: $c-gray-100,
  button-filled-info-focus-background-color: $c-gray-100,
  button-filled-info-active-background-color: $c-gray-100,
  button-filled-info-active-border-color: $c-gray-100,

  button-filled-warning-background-color: $c-primary,
  button-filled-warning-border-color: $c-primary,
  button-filled-warning-text-color: $c-font-dark,
  button-filled-warning-focus-border-color: $c-yellow-800,
  button-filled-warning-focus-background-color: $c-yellow-800,
  button-filled-warning-hover-background-color: $c-yellow-600,button-filled-warning-hover-border-color: $c-yellow-600,
  button-filled-warning-active-background-color: $c-yellow-900,
  button-filled-warning-active-border-color: $c-yellow-900,

  button-ghost-info-text-color: $c-gray-800,
  button-ghost-info-focus-text-color: $c-gray-900,
  button-ghost-info-hover-color: $c-gray-700,
  button-ghost-info-active-text-color: $c-gray-1000,

  card-padding: $card-padding,

  menu-item-icon-color: $c-font-dark,
  menu-item-icon-hover-color: $c-gray-1000,
  menu-item-hover-text-color:	$c-gray-1000,
  menu-item-divider-color: #e8c20a,
  menu-item-active-text-color: $c-font-dark,
  menu-item-icon-active-color: $c-font-dark,
  menu-item-active-background-color: $c-yellow-900,
  menu-item-hover-background-color: $c-yellow-1000,

  tabset-content-padding: 1.5rem 0 0 0,

), default, default);
