@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((

  layout-padding: 2rem,
  spinner-background-color: #fff,

), default, default);
