@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((

  layout-padding: 2rem,
  layout-small-padding: 1em,

), default, default);

