.edit-user-form__body {
  overflow: unset;
}

.edit-user-form__title {
  font-size: 1rem;
}

.edit-user-form__verifications,
.edit-user-form__roles {
  display: flex;
  flex-direction: column;
}

.edit-user-form__general,
.edit-user-form__checkboxes {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.edit-user-form__controls {
  display: flex;
  justify-content: flex-end;

  button ~ button {
    margin-left: 10px;
  }
}