<wd-admin-header title="Edit user"></wd-admin-header>

<form [formGroup]="editUserForm" (ngSubmit)="saveUser()">
  <wd-admin-form [parentForm]="editUserForm" [loading]="loading">
    <ng-container general>
      <wd-form-item>
        <wd-input-group
        name="uid"
        type="text"
        [parentForm]="editUserForm"
        placeholder="User ID"
        [disabled]="true"></wd-input-group>
      </wd-form-item>

      <wd-form-item>
        <wd-input-group
        name="email"
        type="text"
        [parentForm]="editUserForm"
        placeholder="Email address"
        [disabled]="true"></wd-input-group>
      </wd-form-item>

      <wd-form-item>
        <wd-input-group
        name="createdAt"
        type="date"
        label="Created at"
        [parentForm]="editUserForm"
        placeholder="Account created date"></wd-input-group>
      </wd-form-item>

      <wd-form-item>
        <wd-select
        name="accountType"
        [parentForm]="editUserForm"
        label="Account type"
        [clearable]="false"
        bindLabel="title"
        bindValue="value"
        [items]="accountTypes"></wd-select>
      </wd-form-item>

      <wd-form-item>
        <wd-input-group
        name="company"
        type="text"
        [parentForm]="editUserForm"
        placeholder="User company ID"></wd-input-group>
      </wd-form-item>
    </ng-container>

    <ng-container checkboxes>
      <div class="edit-user-form__roles" formGroupName="roles">
        <h2 class="edit-user-form__title">Roles:</h2>
        <nb-checkbox formControlName="admin">Admin</nb-checkbox>
        <nb-checkbox formControlName="author">Author</nb-checkbox>
        <nb-checkbox formControlName="readonly">Readonly</nb-checkbox>
      </div>

      <div class="edit-user-form__verifications">
        <h2 class="edit-user-form__title">Verifications:</h2>
        <nb-checkbox formControlName="emailVerified">Verified email</nb-checkbox>

        <nb-checkbox formControlName="acceptTermsAndConditions">Terms and conditions accepted</nb-checkbox>
      </div>
    </ng-container>
  </wd-admin-form>
</form>
