<div class="input-group" [formGroup]="parentForm">
  <div class="input-group__header">
    <label
    class="input-group__label"
    for="{{name}}">
      {{label ? label : (name | titlecase)}}
    </label>

    <a *ngIf="helperTitle && helperLink" routerLink="{{helperLink}}" class="input-group__helper">{{helperTitle}}</a>
  </div>

  <div
  class="input-group__input"
  [class.input-group__input--private]='isPrivate'>
    <input
    *ngIf="type !== 'tel' && type !== 'textarea' && type !== 'date'"
    id="{{name}}"
    name="{{name}}"
    type="{{type}}"
    placeholder="{{placeholder}}"
    [formControlName]="name"
    fieldSize="large"
    [status]="status"
    (blur)="onBlur()"
    (focus)="onFocus()"
    [attr.autocomplete]="autocomplete ? autocomplete : null"
    nbInput
    fullWidth
    [attr.disabled]="isDisabled ? true : null" />

    <ng-container *ngIf="type === 'date'">
      <input
      id="{{name}}"
      name="{{name}}"
      placeholder="{{placeholder}}"
      [formControlName]="name"
      fieldSize="large"
      [status]="status"
      (blur)="getStatus()"
      (focus)="resetStatus()"
      [nbDatepicker]="datepicker"
      [attr.disabled]="isDisabled ? true : null"
      readonly
      nbInput
      fullWidth />
      <nb-datepicker #datepicker></nb-datepicker>
    </ng-container>

    <input
    *ngIf="type === 'tel'"
    id="{{name}}"
    name="{{name}}"
    type="{{type}}"
    placeholder="{{placeholder}}"
    [formControlName]="name"
    fieldSize="large"
    [status]="status"
    (blur)="getStatus()"
    (focus)="resetStatus()"
    [dropSpecialCharacters]="false"
    [validation]="false"
    nbInput
    mask="+000 000 000000000"
    [attr.disabled]="isDisabled ? true : null"
    fullWidth />

    <textarea
    *ngIf="type === 'textarea'"
    class="input-group__textarea"
    nbInput
    fullWidth
    rows="{{rows}}"
    fieldSize="large"
    [status]="status"
    (blur)="getStatus()"
    (focus)="resetStatus()"
    [formControlName]="name"
    [attr.disabled]="isDisabled ? true : null"
    placeholder="{{placeholder}}">
    </textarea>

    <span
    *ngIf="type === 'tel'"
    class="input-group__addon input-group__addon--phone">
      {{ phoneNumber?.country }}
    </span>

    <button
    *ngIf="isPrivate"
    class="input-group__addon"
    tabindex="-1"
    [attr.disabled]="isDisabled ? true : null"
    aria-hidden="true"
    (click)="showPassword($event)">
      <nb-icon class="input-group__private-icon" [icon]="passVisible ? 'eye-off-outline' : 'eye-outline'"></nb-icon>
    </button>
  </div>
</div>