<div class="input-group" [formGroup]="parentForm">
  <div class="input-group__header">
    <label
    class="input-group__label"
    for="{{name}}">
      {{label ? label : (name | titlecase)}}
    </label>

    <a *ngIf="helperTitle && helperLink" routerLink="{{helperLink}}" class="input-group__helper">{{helperTitle}}</a>
  </div>

  <div
  class="input-group__input"
  [class.input-group__input--private]='isPrivate'>
    <input
    *ngIf="type !== 'tel' && type !== 'textarea'"
    id="{{name}}"
    name="{{name}}"
    type="{{type}}"
    placeholder="{{placeholder}}"
    [formControlName]="name"
    fieldSize="large"
    [status]="status"
    (blur)="getStatus()"
    (focus)="resetStatus()"
    nbInput
    fullWidth>

    <input
    *ngIf="type === 'tel'"
    id="{{name}}"
    name="{{name}}"
    type="{{type}}"
    placeholder="{{placeholder}}"
    [formControlName]="name"
    fieldSize="large"
    [status]="status"
    (blur)="getStatus()"
    (focus)="resetStatus()"
    [dropSpecialCharacters]="false"
    [validation]="false"
    nbInput
    mask="+000 000 000000000"
    fullWidth>

    <textarea
    *ngIf="type === 'textarea'"
    class="input-group__textarea"
    nbInput
    fullWidth
    rows="{{rows}}"
    fieldSize="large"
    [status]="status"
    (blur)="getStatus()"
    (focus)="resetStatus()"
    [formControlName]="name"
    placeholder="{{placeholder}}">
    </textarea>

    <span
    *ngIf="type === 'tel'"
    class="input-group__addon input-group__addon--phone">
      {{ phoneNumber?.country }}
    </span>

    <button
    *ngIf="isPrivate"
    class="input-group__addon"
    tabindex="-1"
    aria-hidden="true"
    (click)="showPassword()">
      <nb-icon class="input-group__private-icon" [icon]="passVisible ? 'eye-off-outline' : 'eye-outline'"></nb-icon>
    </button>
  </div>
</div>