.input-group__header {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.input-group__label {
  display: block;
  margin: 0;
  font-weight: 700;
  line-height: 1rem;
  font-size: .75rem;
  color: #8f9bb3;
}

.input-group__helper {
  font-size: .75rem;
  color: #c5cee0;
  text-decoration: none;
  font-weight: 600;
}