<div class="input-group" [formGroup]="parentForm">
  <div class="input-group__header">
    <label
    class="input-group__label"
    for="{{name}}">
      {{label ? label : (name | titlecase)}}
    </label>

    <a *ngIf="helperTitle && helperLink" routerLink="{{helperLink}}" class="input-group__helper">{{helperTitle}}</a>
  </div>

  <input
  id="{{name}}"
  class="input-group__input"
  name="{{name}}"
  type="{{type}}"
  placeholder="{{placeholder}}"
  [formControlName]="name"
  fieldSize="large"
  [status]="status"
  (blur)="getStatus()"
  (focus)="resetStatus()"
  nbInput
  fullWidth>
</div>